<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>新增员工</title>
    <script th:inline="javascript">
        function dialogAjaxDone(json) {
            ajaxDone(json);
            if (json.statusCode == DWZ.statusCode.ok) {
                if (json.navTabId) {
                    navTab.reload(json.forwardUrl, {}, json.navTabId);
                } else {
                    navTab.reload();
                }
            } else if (json.statusCode == 206) {
                navTab.reload();
            }
            $.pdialog.closeCurrent();
        }
        function ajaxDone(json) {
            if (json.statusCode == DWZ.statusCode.error) {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.error(json.message);
                    }
                }
            } else if (json.statusCode == DWZ.statusCode.timeout) {
                if (alertMsg) alertMsg.error(json.message || DWZ.msg("sessionTimout"), {okCall: DWZ.loadLogin});
                else DWZ.loadLogin();
            } else if (json.statusCode == 206) {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.warn(json.message);
                    }
                }
            }
            else {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.correct(json.message);
                    }
                }
            };
        }
    </script>
</head>
<body>
<div class="pageContent">
    <form id="inputForm" method="post" name="inputForm"
          action="staff/addStaff" th:object="${staff}"
          onsubmit="return iframeCallback(this,dialogAjaxDone);">

        <div class="pageFormContent" layoutH="56">
            <p>
                <label>姓名：</label>
                <input type="text" class="required bring_staffName" name="staffName" th:value="${staffName}"/>
            </p>
            <p style="width: 600px;">
                <label>性别：</label>
                <input type="text" class="required bring_staffGender" name="staffGender" th:value="${staffGender}"/>
            </p>
            <p>
                <label>身份证号：</label>
                <input type="number" minlength="18" maxlength="18" class="required bring_staffNumber" name="staffNumber" th:value="${staffNumber}"/>
            </p>
            <p>
                <label>部门名称：</label>
                <input type="text" class="required bring_departmentName" name="departmentName" th:value="${departmentName}"/>
            </p>
            <p>
                <label>职位名称：</label>
                <input type="text" class="required bring_positionName" name="positionName" th:value="${positionName}"/>
            </p>
            <p>
                <label>登录帐号：</label>
                <input type="text" class="required bring_loginName" name="loginName" th:value="${loginName}"/>
            </p>
            <p>
                <label>登录密码：</label>
                <input type="password" class="required bring_loginPwd" name="loginPwd" th:value="${loginPwd}"/>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
</body>
</html>