<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>员工表格导入</title>
    <script th:inline="javascript">
        function dialogAjaxDone(json) {
            ajaxDone(json);
            if (json.statusCode == DWZ.statusCode.ok) {
                if (json.navTabId) {
                    navTab.reload(json.forwardUrl, {}, json.navTabId);
                } else {
                    navTab.reload();
                }
            } else if (json.statusCode == 206) {
                navTab.reload();
            }
            $.pdialog.closeCurrent();
        }
        function ajaxDone(json) {
            if (json.statusCode == DWZ.statusCode.error) {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.error(json.message);
                    }
                }
            } else if (json.statusCode == DWZ.statusCode.timeout) {
                if (alertMsg) alertMsg.error(json.message || DWZ.msg("sessionTimout"), {okCall: DWZ.loadLogin});
                else DWZ.loadLogin();
            } else if (json.statusCode == 206) {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.warn(json.message);
                    }
                }
            }
            else {
                if (json.message) {
                    if (alertMsg) {
                        alertMsg.correct(json.message);
                    }
                }
            };
        }
    </script>
</head>
<body>
<form id="uploadForm" action="importExcel" method="post" enctype="multipart/form-data"
      class="pageForm required-validate" onsubmit="return iframeCallback(this,dialogAjaxDone);">
    <div class="pageContent">
        <div class="pageFormContent" layoutH="50">
            <div id="item0">
                <dl style="400px;">
                    <dt>Excel文件：</dt>
                    <dd>
                        <input type="file" accept="application/vnd.ms-excel" name="outterCR" id="outterCR"
                               class="required"/>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">上传</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button class="close" type="button">关闭</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
</body>
</html>